extends layout

block content
  - var event = events[0]
  h1 #{title}: #{event.name}
  
  p #[strong Date:] #{event.date}
  p #[strong Contact Phone:] #{event.contactPhone}
  p #[strong Contact Email:] #{event.contactEmail}
  p #[strong Type:] #{event.type}
  p #[strong Scope:] #{event.scope}
  p #[strong Location:] #{location.name}
  p #[strong Admin:] #{event.user_userID}
