extends layout

block content
  h1 #{title}: #{event.eventName}
  
  p #[strong Date:] #{event.date}
  p #[strong Contact Phone:] #{event.contactPhone}
  p #[strong Contact Email:] #{event.contactEmail}
  p #[strong Type:] #{event.type}
  p #[strong Scope:] #{event.scope}
  p #[strong Location:] #{event.locName}
  p #[strong RSO:] #{event.rsoName}

  
  hr
  h1= 'Comments'

  if comments
    each comment in comments
      - var url = '/comment/' + comment.commentID
      p 
        a(href=url) #{comment.firstname} #{comment.lastname} - #{comment.content}
  
  form(method='POST' action='')
    div.form-group
      label(for='newcomment') Add Comment:
      if error
        p Please login to add a comment!
      else
        input#newcomment.form-control.input-lg(size=6 type='text', placeholder='' name='newcomment' autofocus required)
        button.btn.btn-primary(type='submit') Submit
