extends layout

block content
  h1= title
  
  table(class='table')
    thead
      tr
        th RSO
        th University
        th Active
    tbody
      each rso in rso_list
        - var url = '/RSO/' + rso.rsoID
        tr
          td 
            a(href=url) #{rso.rsoName} 
          td #{rso.uniName}
          td #{rso.active}

      else
        li There are no RSOs.
