extends layout

block content
  h1= title
  
  ul
  each rso in rso_list
    - var url = '/RSO/' + rso.rsoID
    li
      a(href=url) #{rso.rsoName} - #{rso.uniName} - #{rso.active} 

  else
    li There are no RSOs.
