extends layout

block content
  - var user = users[0]
  h1 #{title}: #{user.firstname} ' ' #{user.lastname}

  p #[strong Email:] #{user.emailAddress}
  p #[strong Account Type:] #{user.type}
  p #[strong University:] #{user.university_universityID}
